.shadow_popup {
  // opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.shadow_popup._active {
  // opacity: 1;
  display: block;
}

// .shadow_card,
.popup_card {
  position: fixed;
  transform: scale(0);
  left: calc(50% - 315px);
  top: calc(50% - 175px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
// .shadow_card._active,
.popup_card._active {
  transform: scale(1);
}
.popup_card._active {
  z-index: 20;
}
// .pet_info-exit:hover {
//   border: none;
//   background-color: #fddcc4;
// }
.shadow_popup:hover .pet_info-exit {
  border: none;
  background-color: #fddcc4;
}
.white_card {
  width: 630px;
  min-height: 350px;
  background-color: #fafafa;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  img {
    height: 350px;
    width: 350px;
    border-radius: 9px;
  }
  pointer-events: none;
}
.pet_info {
  padding: 10px 9px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.pet_info-name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
.pet_info-breed {
  margin-top: 10px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
.pet_info-text {
  margin-top: 21px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.pet_info-ul {
  margin-top: 13px;
  // margin-left: 15px;
  font-family: Georgia;
  font-style: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  list-style-type: none;
  li {
    margin-top: 7px;
  }
  li:before {
    color: #f1cdb3; /* Цвет маркера */
    content: "• "; /* Сам маркер */
    padding-right: 4px; /* Расстояние от маркера до текста */
  }
}
.pet_info-wrap {
  position: relative;
  width: 630px;
  // height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pet_info-exit {
  position: absolute;
  top: -52px;
  right: -43px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  // background-color: red;
  border: 2px solid #f1cdb3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pet_info-exit:hover {
  border: none;
  background-color: #fddcc4;
}
@media (max-width: 740px) {
  .pet_info-wrap {
    width: 240px;
    // min-height: 341px;
    // padding-bottom: 20px;
  }
  .white_card {
    width: 240px;
    min-height: 341px;
    img {
      display: none;
    }
  }
  .pet_info {
    text-align: center;
  }
  .pet_info-text {
    text-align: justify;
  }
  .pet_info-ul {
    text-align: justify;
    margin-top: 17px;
  }
  .popup_card {
    position: fixed;
    -webkit-transform: scale(0);
    transform: scale(0);
    left: calc(50% - 120px);
    top: calc(50% - 170px);
  }
  .pet_info-exit {
    top: -52px;
    right: -30px;
  }
}
