* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-style: normal;
  font-weight: normal;
}
a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}
body._lock {
  overflow: hidden;
}
.shadow {
  // display: none;
}

.header_bg {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.header {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  height: 120px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.header_burger {
  // display: none;
}
.header_logo {
  min-width: 186px;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}
.header_logotip {
  font-family: Georgia;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.header_sublogotip {
  margin-top: 10px;
  margin-left: 5px;
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}
.header_nav {
  // margin-top: -5px;
  width: 100%;
  max-width: 443px;
  min-width: 385px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      padding: 3px 0px;
      border-bottom: solid 3px #f1cdb3;
    }
    li,
    a {
      list-style-type: none;
      font-family: Arial;
      font-size: 15px;
      line-height: 160%;
      color: #545454;
      padding: 3px 0px;
    }
    a:hover {
      color: #292929;
    }
    a:active {
      border-bottom: solid 3px #f1cdb3;
    }
  }
}
.main_bg {
  background-color: #f6f6f6;
}
.main {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  padding: 80px 40px 100px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_logo {
  max-width: 400px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.main_cards {
  width: 100%;
  margin-top: 60px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
}
.main_cards__card {
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 0.2s;
  cursor: pointer;
}
.main_cards__card:hover {
  background: #fff;
}

.card_img {
}
.card_name {
  margin-top: 30px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.card_button {
  margin-top: 30px;
  width: 187px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;

  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  user-select: none;
}
.card_button:hover {
  background: #fddcc4;
  border: none;
}
.card_button:active {
  background: #f1cdb3;
}

.main_buttons {
  margin-top: 60px;
  width: 100%;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
}
.main_buttons_button {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #f1cdb3;
  background: none;
  padding-bottom: 2px;

  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}
.main_buttons_button:hover {
  background: #fddcc4;
  border: none;
}
.main_buttons_button:active {
  background: #f1cdb3;
}
.disabled {
  cursor: default;
  color: #cdcdcd;
  border: #cdcdcd 2px solid;
}
.disabled:hover {
  border: #cdcdcd 2px solid;
  background: none;
}
.disabled:active {
  border: #cdcdcd 2px solid;
  background: none;
}
.act {
  background: #f1cdb3;
}

.footer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  max-width: 1280px;
  width: 100%;
  padding: 0px 40px;
  &_bg {
    // height: 350px;
    background: url(../assets/noise_transparent@2x.png),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  }

  &_left {
    margin-top: 59px;
    width: 100%;
    max-width: 280px;
  }

  &_center {
    margin-top: 59px;
    width: 100%;
    max-width: 302px;
  }

  &_right {
    margin-top: 40px;
    width: 100%;
    max-width: 300px;
  }
}
.footer_left {
  &__logo {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
  }

  &__mail {
    margin-top: 40px;
    display: flex;
    align-items: center;
    p {
      margin-left: 20px;
      font-family: Georgia;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #f1cdb3;
    }
  }

  &__phone {
    margin-top: 35px;
    display: flex;
    align-items: center;
    p {
      margin-left: 20px;
      font-family: Georgia;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #f1cdb3;
    }
  }
}
.footer_center {
  &__logo {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
  }

  &__street {
    margin-top: 35px;
    display: flex;
    align-items: center;
    p {
      margin-left: 20px;
      font-family: Georgia;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #f1cdb3;
    }
  }

  &__adres {
    margin-top: 30px;
    display: flex;
    align-items: center;
    p {
      margin-left: 20px;
      font-family: Georgia;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #f1cdb3;
    }
  }
}

@media (max-width: 1100px) {
  /* Header start */
  .header {
    max-width: 768px;
    padding: 0 30px;
  }

  /* Header end */

  /* Main Start */
  .main {
    padding: 80px 40px 76px 40px;
  }
  .main_cards {
    width: 100%;
    margin-top: 30px;
  }
  .main_cards__card:nth-child(7) {
    display: none;
  }
  .main_cards__card:nth-child(8) {
    display: none;
  }
  .main_buttons {
    margin-top: 40px;
  }

  /* Main end */

  /* Footer stat */

  .footer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 0px 40px;
    column-gap: 58px;
    row-gap: 22px;
    &_bg {
      // height: 639px;
    }

    &_left {
      margin-top: 30px;
    }

    &_center {
      margin-top: 30px;
    }

    &_right {
      margin-top: 40px;
      width: 100%;
      max-width: 300px;
    }
  }
  .footer_left {
    &__logo {
      font-family: Georgia;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #ffffff;
    }

    &__mail {
      margin-top: 40px;
      display: flex;
      align-items: center;
      p {
        margin-left: 20px;
        font-family: Georgia;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
      }
    }

    &__phone {
      margin-top: 35px;
      display: flex;
      align-items: center;
      p {
        margin-left: 20px;
        font-family: Georgia;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
      }
    }
  }
  .footer_center {
    &__logo {
      font-family: Georgia;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #ffffff;
    }

    &__street {
      margin-top: 35px;
      display: flex;
      align-items: center;
      p {
        margin-left: 20px;
        font-family: Georgia;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
      }
    }

    &__adres {
      margin-top: 30px;
      display: flex;
      align-items: center;
      p {
        margin-left: 20px;
        font-family: Georgia;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
      }
    }
  }

  /* Footer end */
}

@media (max-width: 700px) {
  .header {
    margin-right: 54px;
    width: 256px;
    padding: 0;
  }
  .header_nav {
    // display: none;
  }
  .header_burger {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .header_burger span,
  .header_burger::before,
  .header_burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header_burger._active {
    transform: rotate(-90deg);
    // position: absolute;
    // left: calc(100% - 310px);
  }
  .shadow._active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
  }
  .header_logo._active {
    // position: absolute;
    // left: calc(100% - 310px);
    z-index: 1;
  }
  .header._active {
    // max-width: 320px;
    // justify-content: flex-end;
    // margin-right: 53px;
  }
  .header_nav {
    margin-top: 120px;
    position: fixed;
    top: 0;
    left: 100%;
    width: 320px;
    height: 100%;
    background-color: #fff;
    padding: 126px 0px 30px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto hidden;
  }
  .header_nav._active {
    left: calc(100% - 320px);
  }
  .header_nav /* .header_nav > ul  menu_list */ {
    ul {
      display: flex;
      flex-direction: column;
      max-width: 320px;
      li,
      a {
        font-size: 32px;
        line-height: 160%;
        margin-bottom: 35px;
      }
    }
  }
  .shadow {
  }
}

@media (max-width: 400px) {
  // .header {
  //   padding: 0 0 0 10px;
  //   margin: 0;
  //   width: 80%;
  //   min-width: 268px;
  // }
  .main {
    padding: 42px 10px 50px 10px;
  }
  .main_logo {
    max-width: 300px;
    font-family: Georgia;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .main_cards {
    width: 100%;
    margin-top: 42px;
  }
  .main_cards__card:nth-child(4) {
    display: none;
  }
  .main_cards__card:nth-child(5) {
    display: none;
  }
  .main_cards__card:nth-child(6) {
    display: none;
  }
  /* Footer*/

  .footer {
    max-width: 320px;
    width: 100%;
    padding: 0px 10px;
    column-gap: 58px;
    row-gap: 22px;
  }
  .footer_left__logo {
    font-size: 25px;
    text-align: center;
  }
  .footer_left {
    margin: auto;
    margin-top: 25px;
  }
  .footer_left__mail {
    justify-content: center;
  }
  .footer_left__phone {
    justify-content: center;
  }
  .footer_center {
    margin-top: 15px;
  }
  .footer_center__logo {
    max-width: 294px;
    font-size: 25px;
    text-align: center;
    margin-left: 3px;
  }
  .footer_center__street {
    margin-top: 40px;
  }
  .footer_center__adres {
    margin-top: 37px;
  }
  .footer_right {
    margin-top: 17px;
    max-width: 260px;
  }
  .footer_right__img {
    width: 100%;
    height: 100%;
    max-width: 260px;
  }
  /* Footer*/
}
