* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: normal;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

body._lock {
  overflow: hidden;
}

.header_bg {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.header {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  height: 120px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_logo {
  min-width: 186px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_logotip {
  font-family: Georgia;
  font-size: 32px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.header_sublogotip {
  margin-top: 10px;
  margin-left: 5px;
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}

.header_nav {
  width: 100%;
  max-width: 443px;
  min-width: 385px;
}

.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav ul span {
  padding: 3px 0px;
  border-bottom: solid 3px #f1cdb3;
}

.header_nav ul li,
.header_nav ul a {
  list-style-type: none;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  padding: 3px 0px;
}

.header_nav ul a:hover {
  color: #292929;
}

.header_nav ul a:active {
  border-bottom: solid 3px #f1cdb3;
}

.main_bg {
  background-color: #f6f6f6;
}

.main {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  padding: 80px 40px 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_logo {
  max-width: 400px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.main_cards {
  width: 100%;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (270px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 270px);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
}

.main_cards__card {
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
}

.main_cards__card:hover {
  background: #fff;
}

.card_name {
  margin-top: 30px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.card_button {
  margin-top: 30px;
  width: 187px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card_button:hover {
  background: #fddcc4;
  border: none;
}

.card_button:active {
  background: #f1cdb3;
}

.main_buttons {
  margin-top: 60px;
  width: 100%;
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_buttons_button {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border: 2px solid #f1cdb3;
  background: none;
  padding-bottom: 2px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.main_buttons_button:hover {
  background: #fddcc4;
  border: none;
}

.main_buttons_button:active {
  background: #f1cdb3;
}

.disabled {
  cursor: default;
  color: #cdcdcd;
  border: #cdcdcd 2px solid;
}

.disabled:hover {
  border: #cdcdcd 2px solid;
  background: none;
}

.disabled:active {
  border: #cdcdcd 2px solid;
  background: none;
}

.act {
  background: #f1cdb3;
}

.footer {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  padding: 0px 40px;
}

.footer_bg {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer_left {
  margin-top: 59px;
  width: 100%;
  max-width: 280px;
}

.footer_center {
  margin-top: 59px;
  width: 100%;
  max-width: 302px;
}

.footer_right {
  margin-top: 40px;
  width: 100%;
  max-width: 300px;
}

.footer_left__logo {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer_left__mail {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_left__mail p {
  margin-left: 20px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer_left__phone {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_left__phone p {
  margin-left: 20px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer_center__logo {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer_center__street {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_center__street p {
  margin-left: 20px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer_center__adres {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_center__adres p {
  margin-left: 20px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

@media (max-width: 1100px) {
  /* Header start */
  .header {
    max-width: 768px;
    padding: 0 30px;
  }
  /* Header end */
  /* Main Start */
  .main {
    padding: 80px 40px 76px 40px;
  }
  .main_cards {
    width: 100%;
    margin-top: 30px;
  }
  .main_cards__card:nth-child(7) {
    display: none;
  }
  .main_cards__card:nth-child(8) {
    display: none;
  }
  .main_buttons {
    margin-top: 40px;
  }
  /* Main end */
  /* Footer stat */
  .footer {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 0px 40px;
    -webkit-column-gap: 58px;
            column-gap: 58px;
    row-gap: 22px;
  }
  .footer_left {
    margin-top: 30px;
  }
  .footer_center {
    margin-top: 30px;
  }
  .footer_right {
    margin-top: 40px;
    width: 100%;
    max-width: 300px;
  }
  .footer_left__logo {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .footer_left__mail {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_left__mail p {
    margin-left: 20px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
  }
  .footer_left__phone {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_left__phone p {
    margin-left: 20px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
  }
  .footer_center__logo {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .footer_center__street {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_center__street p {
    margin-left: 20px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
  }
  .footer_center__adres {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_center__adres p {
    margin-left: 20px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
  }
  /* Footer end */
}

@media (max-width: 700px) {
  .header {
    margin-right: 54px;
    width: 256px;
    padding: 0;
  }
  .header_burger {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger span,
  .header_burger::before,
  .header_burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header_burger._active {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .shadow._active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
  }
  .header_logo._active {
    z-index: 1;
  }
  .header_nav {
    margin-top: 120px;
    position: fixed;
    top: 0;
    left: 100%;
    width: 320px;
    height: 100%;
    background-color: #fff;
    padding: 126px 0px 30px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto hidden;
  }
  .header_nav._active {
    left: calc(100% - 320px);
  }
  .header_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
  }
  .header_nav ul li,
  .header_nav ul a {
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 35px;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 42px 10px 50px 10px;
  }
  .main_logo {
    max-width: 300px;
    font-family: Georgia;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .main_cards {
    width: 100%;
    margin-top: 42px;
  }
  .main_cards__card:nth-child(4) {
    display: none;
  }
  .main_cards__card:nth-child(5) {
    display: none;
  }
  .main_cards__card:nth-child(6) {
    display: none;
  }
  /* Footer*/
  .footer {
    max-width: 320px;
    width: 100%;
    padding: 0px 10px;
    -webkit-column-gap: 58px;
            column-gap: 58px;
    row-gap: 22px;
  }
  .footer_left__logo {
    font-size: 25px;
    text-align: center;
  }
  .footer_left {
    margin: auto;
    margin-top: 25px;
  }
  .footer_left__mail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_left__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_center {
    margin-top: 15px;
  }
  .footer_center__logo {
    max-width: 294px;
    font-size: 25px;
    text-align: center;
    margin-left: 3px;
  }
  .footer_center__street {
    margin-top: 40px;
  }
  .footer_center__adres {
    margin-top: 37px;
  }
  .footer_right {
    margin-top: 17px;
    max-width: 260px;
  }
  .footer_right__img {
    width: 100%;
    height: 100%;
    max-width: 260px;
  }
  /* Footer*/
}
